<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imagepickerlibrary">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name = "android.permission.RECORD_AUDIO" />


    <application >

        <activity
            android:name="com.example.imagepickerlibrary.image_picker.ui.ProPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>